#sidebar {
    grid-area: sidebar;
    padding: 30px 0 15px;
    background: linear-gradient(180deg, #31a9c1, #155499);

    #title {
        margin-bottom: 45px;
        padding: 0 24px;

        * {
            color: white;
        }

        i {
            margin-right: 10px;
        }
    }
}
